@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  height: 100vh;
}

main {
  margin: 20px 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 8rem 0;
  gap: 20px;
}

.blog_detail {
  flex: 1;
  margin-right: 20px;
}

.blog_header .featured_image {
  width: 100%;
  object-fit: cover;
  display: block;
}

.blog_header h4 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.category {
  margin: 20px 0px;
}

.category span {
  width: fit-content;
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  color: #fafafa;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.header_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.header_info h5 {
  margin: 0;
  font-size: 1rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 0.5rem;
  background-color: #fff;
  color: #333;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.social-icon:hover {
  background-color: #333;
  color: #fff;
}

.extra_info {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-top: 15px;
  gap: 20px;
  padding: 0 10px;
}

.likes,
.comments,
.author {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.likes i {
  color: red;
}

.comments i {
  color: #6fa6cb;
}

.author {
  margin-left: auto;
  gap: 1.5rem;
}

.author_image {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: block;
  object-fit: cover;
  max-width: 100%;
}

/* blog conetnt */

.blog_content {
  margin: 100px 0;
}

/* sidebar css */

.sidebar {
  margin-top: 20px 20px;
}

.sidebar hr {
  margin-top: 10px;
  width: 30px;
  height: 3px;
  background-color: red;
}

.search_bar {
  margin-top: 20px;
}

.search_box {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.recent_posts {
  margin-top: 30px;
}

.recent_posts h4,
.top_categories h4 {
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.top_categories {
  margin-top: 30px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.categories h4 {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.categories h4:hover {
  background-color: #ddd;
}

.social_share {
  margin-top: 10px;
}

.social_share .social-icons {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

/* prev and next */

.navigation {
  margin: 20px 20px;
  display: flex;
  justify-content: space-between;
}

.prev,
.next {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #000000;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 30px;
  cursor: pointer;
  gap: 10px;
  transition: 0.5s ease-in-out;
}

.prev:hover,
.next:hover {
  color: #fff;
  background-color: #242424;
  transition: 0.5s ease-in-out;
}

/* comment section */

#comment-section {
  padding: 20px;
  background-color: #f8f8f8;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
}

form h3 {
  margin-bottom: 50px;
}

.form-group {
  flex-basis: 100%;
  margin-bottom: 10px;
}

.name_email {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-basis: 100%;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.form-group label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form-group.row .form-group {
  flex-basis: 48%;
}

textarea#comment {
  height: 150px;
}

button[type="submit"] {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #3498dbd8;
}

@media screen and (max-width: 480px) {
  .form-group.row .form-group {
    flex-basis: 100%;
  }
}

/* quote */

.quote-container {
  background-color: #f7f7f7;
  border-left: 5px solid #3498db;
  padding: 20px;
  margin-bottom: 20px;
}

.quote-text {
  font-family: Georgia, serif;
  font-size: 1rem;
  font-style: italic;
  color: #666;
  line-height: 1.5;
  margin: 0;
}

.quote-author {
  font-size: 0.8rem;
  font-weight: bold;
  color: #3498db;
  margin: 10px 0 0 0;
}
